/behat.yml
/bin/
!bin/console
/cache/
/composer.lock
/composer.phar
/symfony.lock
/vendor/
/web/lib/

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
