/behat.yml
/bin/
!bin/console
/cache/
/composer.lock
/composer.phar
/public/lib/
/symfony.lock
/vendor/

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
