<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Coloc</title>
        <link href="/css/bootstrap.css" rel="stylesheet" media="screen" />
        <link href="/css/main.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Coloc</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/expenses">Achats</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="/logout">Déconnexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            {% for type, messages in app.session.flashBag.all %}
                <div class="alert alert-{{ type }}">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
