<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Coloc</title>
        <link href="/css/bootstrap.css" rel="stylesheet" media="screen" />
        <link href="/css/main.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Coloc</a>
                </div>
                <div class="navbar-collapse collapse">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/expenses">Achats</a></li>
                            <li><a href="/payments">Remboursements</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logout">Déconnexion</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>

            {% for type, messages in app.session.flashBag.all %}
                <div class="alert alert-{{ type }}">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="/expenses/add" title="Nouveau payement">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
                <hr />
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
